# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

pgdata

# Build output
dist/
build/
*.js
*.d.ts
*.map

# IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# # Environment variables
# .env
# .env.local
# .env.*.local

# Testing
coverage/
*.spec.js
*.test.js

# OS specific files
.DS_Store
Thumbs.db

# Log files
